h1 {
    font-size: 180px;
}

.header, footer { 
    grid-area: header;
    background-color: #183153;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.header div, footer div { 
    padding-left: 25px;
}

.img-annonce {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.img-annonce img {
    height: 100%;
}

.navigation {
    display: grid;
    height: 100%;
    background-color:#183153;
    color: white;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.navigation button{
    background-color:#183153;
    color: white;
}

.annonces {
    background-color: #EEEEEE;
    padding: 15px;
}

.card-annonce {
    border-radius: 3px;
    grid-area: main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    height: 180px;
}

.card-annonce-body {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.card-annonce-body-header {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.card-annonce-body-header h2{
    margin: 0;
}

.card-annonce-body-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price {
    font-weight: bold;
}

.date {
    color: #797979;
}

.login-illustration div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form { 
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: sidebar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

 }
 form div { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

 }
 .form-body { 
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
 }
 form button{ 
    background-color: #183153;
    height: 50px;
    color: white;

 }
 
.footer { 
    grid-area: footer;
 }


.container {
display: grid;
height: 100vh;
grid-template-columns: 100%;
grid-template-rows: 100px 60px auto 100px;
grid-template-areas:
"header"
"main"
"sidebar"
"footer";
}