h1 {
    margin-bottom: 0;
}
.header, footer { 
    grid-area: header;
    background-color: #183153;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.header div, footer div { 
    padding-left: 25px;
}

.login-illustration {
    grid-area: main;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-illustration div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form { 
    grid-area: sidebar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

 }
 form div { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

 }
 .form-body { 
    width: 90%;
    margin-bottom: 10px;
 }
 input {
     height: 30px;
 }
 form button{ 
    background-color: #183153;
    height: 50px;
    color: white;

 }
 
.footer { 
    grid-area: footer;
 }


.container {
display: grid;
height: 100vh;
grid-template-columns: 100%;
grid-template-rows: 60px 300px auto 60px;
grid-template-areas:
"header"
"main"
"sidebar"
"footer";
}