h1 {
    font-size: 40px;
}

p, span, div, input {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-size: 18px;
}

p {
    margin: 0;
}

header div, footer div {
    padding-left: 25px;
}

body {
    margin: 0;
}